<div class="container">
  <h4>Selected Property is {{propertyId}}</h4>

  <br><br>

  <button (click)="onSelectNext()" class="btn btn-primary">Next Page</button>

  <br><br>

  <button routerLink="/property-details/1" class="btn btn-primary mr-2">1</button>
  <button routerLink="/property-details/2" class="btn btn-primary mr-2">2</button>
  <button routerLink="/property-details/3" class="btn btn-primary mr-2">3</button>

  <button [routerLink]="['/property-details/', '4']" class="btn btn-primary mr-2">4</button>

</div>
