<div class="card">
  <div class="card-header">
    Add New Property
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #Form='ngForm'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" #name="ngModel"
        ngModel name="name" required minlength="5">
        <span *ngIf="!name.valid && name.touched" class="error-block">
           <span *ngIf="name.errors.required">Name is required</span>
           <span *ngIf="name.errors.minlength">Name must have more than 5 characters</span>
        </span>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" ngModel name="type">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" ngModel name="price">
      </div>

      <div class="from-group">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>
